<section>
<h1>Find Me, Follow Me</h1>
<center>
  <script type="text/javascript" src="http://twittercounter.com/embed/?username=rjgeyer&style=avatar"></script><noscript><a href="http://twittercounter.com/rjgeyer">Ryan Geyer on Twitter Counter.com</a></noscript>

  <iframe src="http://widgets.klout.com/badge/rjgeyer?size=m" style="border:0" scrolling="no" allowTransparency="true" frameBorder="0" width="160px" height="78px"></iframe>

  <a href="http://www.linkedin.com/pub/1/828/328" ><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.gif" width="120" height="33" border="0" alt="View Ryan Geyer's profile on LinkedIn"></a>
</center>
</section>
