{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
    {% include header.html %}
    <div class="body yui3-g">
      {% include navigation.html %}
      <div class="content yui3-u-2-3">
        {{ content | expand_urls: root_url }}
      </div>
      {% include sidebar.html %}
    </div>
    {% include footer.html %}
  {% comment %}
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
  {% endcomment %}
</body>
</html>
